<h1><%= @machine.location %> Vending Machine</h1>

<h2>Snacks:</h2>

<% @snacks.each do |snack| %>
  <h3><%= snack.name %>:</h3>
  <p><%= snack.price %></p>
<% end %>

<p>Avg snack price: <%= @machine.avg_snack_price %></p>
